# Service ENVS
NODE_ENV=local
SERVICE_NAME=desafio-dev-api-rest
APP_PORT=3000

# Database
DB_HOST=db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=database
DB_NAME=database

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq
RABBITMQ_DELAY_EXCHANGE=bank.statement.delay
RABBITMQ_BANK_STATEMENT_EXCHANGE=bank.statement.exchange
RABBITMQ_BANK_STATEMENT_QUEUE=bank.statement.queue
RABBITMQ_BANK_STATEMENT_ROUTINGKEY=bank.statement.routingkey

#api
API_URL=http://localhost:3000